snippet _CP_TEMPLATE_1_
#include <bits/stdc++.h>
#ifdef ONLINE_JUDGE
#define LL %I64d
#else
#define LL %ldd
#endif
using namespace std;

int main() {
	return 0;
}
endsnippet

snippet _REG_TEMPLATE_
#include <iostream>
#include <cstdio>
#include <stack>

using namespace std;

int main() {
	return 0;
}
endsnippet
